---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [8]:
import pandas as pd
#pd.Series?

In [93]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [9]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [95]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [97]:
animals.append('hippotamo')
animals.append('bird')
pd.Series(animals)

0        Tiger
1         Bear
2         None
3    hippotamo
4    hippotamo
5         bird
dtype: object

In [140]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [3]:
import numpy as np
np.nan == None

False

In [15]:
np.nan == np.nan

False

In [16]:
np.isnan(np.nan)

True

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)

In [3]:
s[0]

'Bhutan'

In [4]:
s['Golf']

'Scotland'

In [5]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [6]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [7]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [8]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

In [9]:
i= s.index
i

Index(['Golf', 'Sumo', 'Hockey'], dtype='object')

In [10]:
l = ['j',1,11111]
s1 = pd.Series(l, index = i)
s1

Golf          j
Sumo          1
Hockey    11111
dtype: object

# Querying a Series

In [11]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [6]:
s.iloc[3]

'South Korea'

In [7]:
type(s.iloc[3])

str

In [64]:
s.loc['Golf']

'Scotland'

In [ ]:
s.loc[]

In [15]:
type(s.loc['Golf'])

str

In [16]:
s[3]

'South Korea'

In [17]:
s['Golf']

'Scotland'

In [18]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [19]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [12]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [13]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [153]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [154]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    651
1    124
2    323
3    301
4     99
dtype: int64

In [31]:
len(s)

10000

In [32]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.99 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [33]:
%%timeit -n 100
summary = np.sum(s)

The slowest run took 6.72 times longer than the fastest. This could mean that an intermediate result is being cached.
185 µs ± 202 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    102.0
1    122.0
2    103.0
3      5.0
dtype: float64

In [35]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    774
1    498
2    946
3    655
4    716
dtype: int64

In [36]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

1.38 s ± 33.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [37]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 24.56 times longer than the fastest. This could mean that an intermediate result is being cached.
1.13 ms ± 2.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [13]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [15]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [129]:

df.at['Store 1', 'Cost'] = 10

In [130]:
df

         Cost Item Purchased   Name
Store 1  10.0       Dog Food  Chris
Store 1  10.0   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [23]:
df.index

Index(['Store 1', 'Store 1', 'Store 2'], dtype='object')

In [24]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [25]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [26]:
df.loc['Store 1', 'Cost']
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [27]:
#df.iloc[2]
#df['Name']
df['Cost'] = df['Cost']- df['Cost'] * 0.2 
df['Cost']

Store 1    18.0
Store 1     2.0
Store 2     4.0
Name: Cost, dtype: float64

In [28]:
df

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod

In [29]:
df.T.loc['Cost']

Store 1    18
Store 1     2
Store 2     4
Name: Cost, dtype: object

In [30]:
df['Cost']

Store 1    18.0
Store 1     2.0
Store 2     4.0
Name: Cost, dtype: float64

In [31]:
df.loc['Store 1']['Cost']

Store 1    18.0
Store 1     2.0
Name: Cost, dtype: float64

In [32]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  18.0
Store 1  Kevyn   2.0
Store 2  Vinod   4.0

In [33]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   4.0      Bird Seed  Vinod

In [34]:
df

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod

In [17]:
copy_df = df.copy()
copy_df = copy_df.drop(df.columns[0], axis=1)
#copy_df = copy_df.drop(df.columns[0], axis=1)
#copy_df = copy_df.drop(copy_df.index[:2])
copy_df
copy_df.index[:3]

Index(['Store 1', 'Store 1', 'Store 2'], dtype='object')

In [18]:
copy_df.drop?

In [19]:
del copy_df['Name']
copy_df

        Item Purchased
Store 1       Dog Food
Store 1   Kitty Litter
Store 2      Bird Seed

In [20]:
del copy_df[]
copy_df

SyntaxError: invalid syntax (<ipython-input-20-12934fcfa7bf>, line 1)

In [38]:
df['Location'] = None
df

         Cost Item Purchased   Name Location
Store 1  18.0       Dog Food  Chris     None
Store 1   2.0   Kitty Litter  Kevyn     None
Store 2   4.0      Bird Seed  Vinod     None

# Dataframe Indexing and Loading

In [22]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [23]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [62]:
df

         Cost Item Purchased   Name
Store 1  14.4       Dog Food  Chris
Store 1   1.6   Kitty Litter  Kevyn
Store 2   3.2      Bird Seed  Vinod

In [63]:
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [98]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [99]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [100]:
df1 = df.copy()
df1 = df1.drop(df1.columns[[0, 1, 3]], axis=1)
df1

,02 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),0,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),2,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),24,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),2,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],4,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],152,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),33,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),2,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),0,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],0,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),24,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),52,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),0,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],1,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),1,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),30,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],0,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],85,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),99,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],7,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],146,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),6,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),1,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],1,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),7,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],67,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),1,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],2,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),1,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],0,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],164,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),73,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],7,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),1,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],2,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),6,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),0,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),1,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],5,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),3,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),25,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),3,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),27,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],757,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),2,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),2,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),2,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),1,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],29,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],4,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],5,17,0,0,0,0,0,3,8,5,4,17
Totals,4775,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [101]:
#df.loc[1]

In [102]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [103]:
df.columns[:2]

Index(['№ Summer', '01 !'], dtype='object')

In [104]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head(10)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1

In [105]:
df.iloc[0,1]
df1 = df.copy()
for i in range(len(df1.index)):
    for j in range(len(df1.columns)):
        if df1.iloc[i,j] == 0:
            df1.iloc[i,j] = 2000
df1.head(10)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,2000,2000,2,2,2000,2000,2000,2000,2000,13,2000,2000,2,2
Algeria (ALG),12,5,2,8,15,3,2000,2000,2000,2000,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,2000,2000,2000,2000,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,2000,2000,2000,2000,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,2000,2000,2000,2000,2000,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,2000,2000,2000,2000,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,2000,2000,2000,2000,2000,15,5,2,5,12
Bahrain (BRN),8,2000,2000,1,1,2000,2000,2000,2000,2000,8,2000,2000,1,1

In [106]:
df.iloc[0,0]

13

In [107]:
d = df.copy()
d['Gold'] = d['Gold'] * 3 
d.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,15,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,54,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,3,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,9,4,5,12,0,0,0,0,0,2,3,4,5,12

# Querying a DataFrame

In [108]:
df['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [109]:
df[(df['Gold'] >0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [110]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [114]:
only_gold1 = df.where(df['Gold'] > 0)
only_gold1.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [121]:
#only_gold1.loc['Algeria (ALG)','Gold']
#only_gold1.loc['Afghanistan (AFG)','Gold'] = 10
#only_gold1.head()
only_gold1.index

Index(['Afghanistan (AFG)', 'Algeria (ALG)', 'Argentina (ARG)',
       'Armenia (ARM)', 'Australasia (ANZ) [ANZ]', 'Australia (AUS) [AUS] [Z]',
       'Austria (AUT)', 'Azerbaijan (AZE)', 'Bahamas (BAH)', 'Bahrain (BRN)',
       ...
       'Uzbekistan (UZB)', 'Venezuela (VEN)', 'Vietnam (VIE)',
       'Virgin Islands (ISV)', 'Yugoslavia (YUG) [YUG]',
       'Independent Olympic Participants (IOP) [IOP]', 'Zambia (ZAM) [ZAM]',
       'Zimbabwe (ZIM) [ZIM]', 'Mixed team (ZZX) [ZZX]', 'Totals'],
      dtype='object', length=147)

In [127]:
only_gold1.loc[:,'Gold']

Afghanistan (AFG)                                  NaN
Algeria (ALG)                                      5.0
Argentina (ARG)                                   18.0
Armenia (ARM)                                      1.0
Australasia (ANZ) [ANZ]                            3.0
Australia (AUS) [AUS] [Z]                        139.0
Austria (AUT)                                     18.0
Azerbaijan (AZE)                                   6.0
Bahamas (BAH)                                      5.0
Bahrain (BRN)                                      NaN
Barbados (BAR) [BAR]                               NaN
Belarus (BLR)                                     12.0
Belgium (BEL)                                     37.0
Bermuda (BER)                                      NaN
Bohemia (BOH) [BOH] [Z]                            NaN
Botswana (BOT)                                     NaN
Brazil (BRA)                                      23.0
British West Indies (BWI) [BWI]                    NaN
Bulgaria (BUL) [H]                                51.0
Burundi (BDI)                                      1.0
Cameroon (CMR)                                     3.0
Canada (CAN)                                      59.0
Chile (CHI) [I]                                    2.0
China (CHN) [CHN]                                201.0
Colombia (COL)                                     2.0
Costa Rica (CRC)                                   1.0
Ivory Coast (CIV) [CIV]                            NaN
Croatia (CRO)                                      6.0
Cuba (CUB) [Z]                                    72.0
Cyprus (CYP)                                       NaN
                                                 ...
Sri Lanka (SRI) [SRI]                              NaN
Sudan (SUD)                                        NaN
Suriname (SUR) [E]                                 1.0
Sweden (SWE) [Z]                                 143.0
Switzerland (SUI)                                 47.0
Syria (SYR)                                        1.0
Chinese Taipei (TPE) [TPE] [TPE2]                  2.0
Tajikistan (TJK)                                   NaN
Tanzania (TAN) [TAN]                               NaN
Thailand (THA)                                     7.0
Togo (TOG)                                         NaN
Tonga (TGA)                                        NaN
Trinidad and Tobago (TRI) [TRI]                    2.0
Tunisia (TUN)                                      3.0
Turkey (TUR)                                      39.0
Uganda (UGA)                                       2.0
Ukraine (UKR)                                     33.0
United Arab Emirates (UAE)                         1.0
United States (USA) [P] [Q] [R] [Z]              976.0
Uruguay (URU)                                      2.0
Uzbekistan (UZB)                                   5.0
Venezuela (VEN)                                    2.0
Vietnam (VIE)                                      NaN
Virgin Islands (ISV)                               NaN
Yugoslavia (YUG) [YUG]                            26.0
Independent Olympic Participants (IOP) [IOP]       NaN
Zambia (ZAM) [ZAM]                                 NaN
Zimbabwe (ZIM) [ZIM]                               3.0
Mixed team (ZZX) [ZZX]                             8.0
Totals                                          4809.0
Name: Gold, dtype: float64

In [122]:
dfq = df[(df['Gold.1'] > 0) & (df['Gold'] > 0)]
dfq.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220

In [39]:
only_gold['Gold'].count()

100

In [40]:
df['Gold'].count()

147

In [41]:
df['Silver.2'].count()

147

In [42]:
only_gold = only_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [43]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [44]:
#data = only_gold.set_index('Gold')
data = only_gold.sort_values(by='Gold',ascending=False)
#data = data.set_index('Gold')
data.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780

In [45]:
data.iloc[1,]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
Name: United States (USA) [P] [Q] [R] [Z], dtype: int64

In [46]:
data.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total'],
      dtype='object')

In [47]:
type(data.iloc[1,])

pandas.core.series.Series

In [48]:
d = data.T.loc['Gold']
d.head()

Totals                                 4809
United States (USA) [P] [Q] [R] [Z]     976
Soviet Union (URS) [URS]                395
Great Britain (GBR) [GBR] [Z]           236
France (FRA) [O] [P] [Z]                202
Name: Gold, dtype: int64

In [178]:
d.iloc[1]

976

In [112]:
data.iloc[1]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
Name: United States (USA) [P] [Q] [R] [Z], dtype: int64

In [113]:
type(data.iloc[1])

pandas.core.series.Series

In [107]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

101

In [108]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [109]:
type(df[(df['Gold.1'] > 0) & (df['Gold'] == 0)])

pandas.core.frame.DataFrame

# Indexing Dataframes

In [45]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [46]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [264]:
df.index

Int64Index([4809,  976,  395,  236,  202,  201,  198,  174,  167,  153,
            ...
               0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
           dtype='int64', name='Gold', length=147)

In [240]:
df1 = df.sort_index(ascending=False)
df1.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals
976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
395,9,319,296,1010,9,78,57,59,194,18,473,376,355,1204,Soviet Union (URS) [URS]
236,27,272,272,780,22,10,4,12,26,49,246,276,284,806,Great Britain (GBR) [GBR] [Z]
202,27,223,246,671,22,31,31,47,109,49,233,254,293,780,France (FRA) [O] [P] [Z]

In [245]:
df

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals
976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
395,9,319,296,1010,9,78,57,59,194,18,473,376,355,1204,Soviet Union (URS) [URS]
236,27,272,272,780,22,10,4,12,26,49,246,276,284,806,Great Britain (GBR) [GBR] [Z]
202,27,223,246,671,22,31,31,47,109,49,233,254,293,780,France (FRA) [O] [P] [Z]
201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
198,26,166,185,549,22,37,34,43,114,48,235,200,228,663,Italy (ITA) [M] [S]
174,15,182,217,573,11,78,78,53,209,26,252,260,270,782,Germany (GER) [GER] [Z]
167,25,144,165,476,22,0,2,4,6,47,167,146,169,482,Hungary (HUN)
153,5,129,127,409,6,39,36,35,110,11,192,165,162,519,East Germany (GDR) [GDR]
143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
132,5,121,142,395,6,49,40,35,124,11,181,161,177,519,Russia (RUS) [RUS]
130,21,126,142,398,20,10,17,18,45,41,140,143,160,443,Japan (JPN)
101,24,84,117,302,22,42,62,57,161,46,143,146,174,463,Finland (FIN)
88,20,94,119,301,20,0,0,1,1,40,88,94,120,302,Romania (ROU)
81,16,82,80,243,17,26,17,10,53,33,107,99,90,296,South Korea (KOR)
77,25,85,104,266,20,37,38,35,110,45,114,123,139,376,Netherlands (NED) [Z]
72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
64,20,82,125,271,22,6,7,7,20,42,70,89,132,291,Poland (POL)
59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
56,24,49,43,148,22,118,111,100,329,46,174,160,143,477,Norway (NOR) [Q]
56,5,67,81,204,6,11,15,13,39,11,67,82,94,243,West Germany (FRG) [FRG]
51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
49,16,49,45,143,16,2,8,15,25,32,51,57,60,168,Czechoslovakia (TCH) [TCH]
47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
45,1,38,29,112,1,9,6,8,23,2,54,44,37,135,Unified Team (EUN) [EUN]
43,26,68,68,179,13,0,1,0,1,39,43,69,68,180,Denmark (DEN) [Z]
42,22,18,39,99,15,0,1,0,1,37,42,19,39,100,New Zealand (NZL) [NZL]
39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,10,1,2,3,0,0,0,0,0,10,0,1,2,3,Saudi Arabia (KSA)
0,13,1,0,1,5,0,0,0,0,18,0,1,0,1,Senegal (SEN)
0,16,2,2,4,16,0,0,0,0,32,0,2,2,4,Lebanon (LIB)
0,15,2,2,4,0,0,0,0,0,15,0,2,2,4,Singapore (SIN)
0,12,3,3,6,0,0,0,0,0,12,0,3,3,6,Malaysia (MAS) [MAS]
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Mauritius (MRI)
0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
0,5,0,1,1,5,0,0,0,0,10,0,0,1,1,Macedonia (MKD)
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
0,16,0,0,0,18,2,2,5,9,34,2,2,5,9,Liechtenstein (LIE)
0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
0,12,0,2,2,0,0,0,0,0,12,0,0,2,2,Kuwait (KUW)
0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
0,4,0,1,1,0,0,0,0,0,4,0,0,1,1,Eritrea (ERI)
0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
0,14,1,1,2,0,0,0,0,0,14,0,1,1,2,Haiti (HAI) [J]
0,5,1,2,3,6,0,0,0,0,11,0,1,2,3,Kyrgyzstan (KGZ)
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)

In [250]:
df.loc[976,'country']

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [255]:
df.iloc[1,14]

'United States\xa0(USA) [P] [Q] [R] [Z]'

In [1]:
df = df.reset_index()
df.head()

NameError: name 'df' is not defined

In [3]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [4]:
d = df.copy()

In [5]:
df['SUMLEV'].unique()

array([40, 50])

In [6]:

df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [7]:
data = df.copy()
data = data.set_index(['COUNTY','STNAME'])
data.head()

,,SUMLEV,REGION,DIVISION,STATE,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
COUNTY,STNAME,,,,,,,,,,,,,,,,,,,,,
1,Alabama,50,3,6,1,Autauga County,54571,54571,54660,55253,55175,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
3,Alabama,50,3,6,1,Baldwin County,182265,182265,183193,186659,190396,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
5,Alabama,50,3,6,1,Barbour County,27457,27457,27341,27226,27159,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
7,Alabama,50,3,6,1,Bibb County,22915,22919,22861,22733,22642,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
9,Alabama,50,3,6,1,Blount County,57322,57322,57373,57711,57776,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [17]:
data = df.copy()
data = data.set_index(['STNAME','COUNTY'])
data = data.sort_index()
#data = data.sort_values(by='CENSUS2010POP',ascending=False)
data

                  SUMLEV  REGION  DIVISION  STATE             CTYNAME  \
STNAME    COUNTY
Alabama   1           50       3         6      1      Autauga County
          3           50       3         6      1      Baldwin County
          5           50       3         6      1      Barbour County
          7           50       3         6      1         Bibb County
          9           50       3         6      1       Blount County
          11          50       3         6      1      Bullock County
          13          50       3         6      1       Butler County
          15          50       3         6      1      Calhoun County
          17          50       3         6      1     Chambers County
          19          50       3         6      1     Cherokee County
          21          50       3         6      1      Chilton County
          23          50       3         6      1      Choctaw County
          25          50       3         6      1       Clarke County
          27          50       3         6      1         Clay County
          29          50       3         6      1     Cleburne County
          31          50       3         6      1       Coffee County
          33          50       3         6      1      Colbert County
          35          50       3         6      1      Conecuh County
          37          50       3         6      1        Coosa County
          39          50       3         6      1    Covington County
          41          50       3         6      1     Crenshaw County
          43          50       3         6      1      Cullman County
          45          50       3         6      1         Dale County
          47          50       3         6      1       Dallas County
          49          50       3         6      1       DeKalb County
          51          50       3         6      1       Elmore County
          53          50       3         6      1     Escambia County
          55          50       3         6      1       Etowah County
          57          50       3         6      1      Fayette County
          59          50       3         6      1     Franklin County
...                  ...     ...       ...    ...                 ...
Wisconsin 129         50       2         3     55     Washburn County
          131         50       2         3     55   Washington County
          133         50       2         3     55     Waukesha County
          135         50       2         3     55      Waupaca County
          137         50       2         3     55     Waushara County
          139         50       2         3     55    Winnebago County
          141         50       2         3     55         Wood County
Wyoming   1           50       4         8     56       Albany County
          3           50       4         8     56     Big Horn County
          5           50       4         8     56     Campbell County
          7           50       4         8     56       Carbon County
          9           50       4         8     56     Converse County
          11          50       4         8     56        Crook County
          13          50       4         8     56      Fremont County
          15          50       4         8     56       Goshen County
          17          50       4         8     56  Hot Springs County
          19          50       4         8     56      Johnson County
          21          50       4         8     56      Laramie County
          23          50       4         8     56      Lincoln County
          25          50       4         8     56      Natrona County
          27          50       4         8     56     Niobrara County
          29          50       4         8     56         Park County
          31          50       4         8     56       Platte County
          33          50       4         8     56     Sheridan County
          35          50       4         8     56     Sublette County
          37          50       4         8     56   Sweetwater County
          39          50       4         8     56        Teton County
          41          50       4         8     56        Uinta County
          43          50       4         8     56     Washakie County
          45          50       4         8     56       Weston County

                  CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME    COUNTY
Alabama   1               54571              54571            54660
          3              182265             182265           183193
          5               27457              27457            27341
          7               22915              22919            22861
          9               57322              57322            57373
          11              10914              10915            10887
          13              20947              20946            20944
          15             118572             118586           118437
          17              34215              34170            34098
          19              25989              25986            25976
          21              43643              43631            43665
          23              13859              13858            13841
          25              25833              25840            25767
          27              13932              13932            13880
          29              14972              14972            14973
          31              49948              49948            50177
          33              54428              54428            54514
          35              13228              13228            13208
          37              11539              11758            11758
          39              37765              37765            37796
          41              13906              13906            13853
          43              80406              80410            80473
          45              50251              50251            50358
          47              43820              43820            43803
          49              71109              71115            71142
          51              79303              79296            79465
          53              38319              38319            38309
          55             104430             104427           104442
          57              17241              17241            17231
          59              31704              31709            31734
...                         ...                ...              ...
Wisconsin 129             15911              15911            15930
          131            131887             131885           131967
          133            389891             389938           390076
          135             52410              52410            52422
          137             24496              24496            24506
          139            166994             166994           167059
          141             74749              74749            74807
Wyoming   1               36299              36299            36428
          3               11668              11668            11672
          5               46133              46133            46244
          7               15885              15885            15837
          9               13833              13833            13826
          11               7083               7083             7114
          13              40123              40123            40222
          15              13249              13247            13408
          17               4812               4812             4813
          19               8569               8569             8581
          21              91738              91881            92271
          23              18106              18106            18091
          25              75450              75450            75472
          27               2484               2484             2492
          29              28205              28205            28259
          31               8667               8667             8678
          33              29116              29116            29146
          35              10247              10247            10244
          37              43806              43806            43593
          39              21294              21294            21297
          41              21118              21118            21102
          43               8533               8533             8545
          45               7208               7208             7181

                  POPESTIMATE2011  POPESTIMATE2012     ...       \
STNAME    COUNTY                                       ...
Alabama   1                 55253            55175     ...
          3                186659           190396     ...
          5                 27226            27159     ...
          7                 22733            22642     ...
          9                 57711            57776     ...
          11                10629            10606     ...
          13                20673            20408     ...
          15               117768           117286     ...
          17                33993            34075     ...
          19                26080            26023     ...
          21                43739            43697     ...
          23                13593            13543     ...
          25                25570            25144     ...
          27                13670            13456     ...
          29                14971            14921     ...
          31                50448            51173     ...
          33                54443            54472     ...
          35                13121            12996     ...
          37                11348            11195     ...
          39                38060            37818     ...
          41                13896            13951     ...
          43                80469            80374     ...
          45                50109            50324     ...
          47                43178            42777     ...
          49                71387            70942     ...
          51                80012            80432     ...
          53                38213            38034     ...
          55               104236           104235     ...
          57                17062            16960     ...
          59                31729            31648     ...
...                           ...              ...     ...
Wisconsin 129               15784            15831     ...
          131              132225           132649     ...
          133              390808           392710     ...
          135               52342            52035     ...
          137               24581            24484     ...
          139              167630           168717     ...
          141               74647            74384     ...
Wyoming   1                 36908            37396     ...
          3                 11745            11785     ...
          5                 46600            47881     ...
          7                 15817            15678     ...
          9                 13728            14025     ...
          11                 7129             7148     ...
          13                40591            41129     ...
          15                13597            13666     ...
          17                 4818             4846     ...
          19                 8636             8610     ...
          21                92663            94894     ...
          23                18022            17943     ...
          25                76420            78699     ...
          27                 2485             2475     ...
          29                28473            28863     ...
          31                 8701             8732     ...
          33                29275            29594     ...
          35                10142            10418     ...
          37                44041            45104     ...
          39                21482            21697     ...
          41                20912            20989     ...
          43                 8469             8443     ...
          45                 7114             7065     ...

                  RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    COUNTY
Alabama   1               7.242091         -2.915927         -3.012349
          3              14.832960         17.647293         21.845705
          5              -4.728132         -2.500690         -7.056824
          7              -5.527043         -5.068871         -6.201001
          9               1.807375         -1.177622         -1.748766
          11            -30.953709         -5.180127         -1.130263
          13            -14.032727        -11.684234         -5.655413
          15             -6.155670         -4.611706         -5.524649
          17             -2.731639          3.849092          2.872721
          19              6.339327          1.113180          5.488706
          21             -1.372935         -2.653369          0.480044
          23            -15.455274         -0.737028         -8.766391
          25             -6.194363        -17.667705         -0.318345
          27            -10.744102        -13.345130          4.902871
          29             -3.673524         -5.151880          7.345821
          31              0.377640          7.675579        -13.146535
          33             -0.073423          1.065051          1.762390
          35             -4.861559         -7.504690         -6.107224
          37            -33.930581        -10.291443         -4.313831
          39              6.696899         -4.612668          0.740271
          41              1.729792          3.950156         -1.864936
          43             -1.404233         -1.019628          4.071247
          45            -10.749798         -5.277150        -15.236079
          47            -15.635599        -11.308243        -16.745678
          49              0.294677         -9.302391         -1.748807
          51              3.235576          0.822717          1.760531
          53             -3.449988         -3.855889         -4.822706
          55             -1.015919          2.062637         -1.931884
          57             -5.015601         -0.646640         -3.725937
          59             -1.638750         -5.459394         -8.043702
...                            ...               ...               ...
Wisconsin 129            -6.873936          7.338289         -6.732724
          131            -0.794876          0.785279         -2.215465
          133            -0.765799          2.128860          0.038132
          135             3.111756         -2.241873          6.292687
          137             4.930022         -2.404973         -4.097017
          139             0.316712          2.889873          0.833819
          141            -4.081523         -5.019090         -6.901200
Wyoming   1               3.708956          2.637812         -3.544634
          3               4.868258          2.804930         16.815908
          5              -2.843479         15.601020         -5.895711
          7              -7.581980        -13.081441          3.178134
          9             -12.847499         15.493820         19.035533
          11             -1.544618         -4.202564          1.397819
          13              2.747083          7.782673         -4.990688
          15             14.293649          3.961413         -8.079028
          17              3.322604          6.208609          3.095336
          19              4.995063         -4.058912         -0.812583
          21             -1.200428         15.547274          4.787847
          23             -9.802564        -11.566801         13.564556
          25              7.189319         23.066162         24.322042
          27             -0.401849          0.806452         29.066295
          29              4.582951          8.057765          7.641997
          31              4.373094          5.392073          2.634593
          33              0.958559          8.425487          4.546373
          35            -23.741784         15.272374        -40.870074
          37              1.072643         16.243199         -5.339774
          39             -1.589565          0.972695         19.525929
          41            -17.755986         -4.916350         -6.902954
          43            -11.637475         -0.827815         -2.013502
          45            -11.752361         -8.040059         12.372583

                  RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME    COUNTY
Alabama   1               2.265971         -2.530799     7.606016
          3              19.243287         17.197872    15.844176
          5              -3.904217        -10.543299    -4.874741
          7              -0.177537          0.177258    -5.088389
          9              -2.062535         -1.369970     1.859511
          11             14.354290        -16.167247   -29.001673
          13              1.085428         -6.529805   -13.936612
          15             -4.463211         -3.376322    -5.791579
          17             -2.287222          1.349468    -1.821092
          19             -0.076806         -3.239866     6.416167
          21              0.456017         -2.253483    -0.823761
          23             -1.274984         -5.291205   -15.528177
          25             -8.686428         -5.613667    -6.077488
          27              5.702648          3.912450   -10.816697
          29              3.654485         -3.123961    -3.673524
          31             -3.602859          2.214774     2.166460
          33              1.835688         -0.110260     0.513964
          35            -14.645416          2.684140    -4.861559
          37            -22.958017         -5.387581   -34.017138
          39              3.697932         -0.316945     6.881460
          41              3.084648          3.439504     2.666763
          43              5.087142          7.915406    -1.031427
          45            -11.979785         -5.107706    -9.575283
          47             -9.344789        -14.687232   -15.727573
          49              0.267830          0.028141     1.375159
          51             -1.507057          2.067820     3.674511
          53             -1.189831          1.190902    -3.397716
          55             -1.726932         -2.082234    -0.632554
          57              0.296745         -2.797536    -5.132243
          59             -1.267849         -2.401719     0.063029
...                            ...               ...          ...
Wisconsin 129             3.510452         -5.123279    -6.747809
          131             1.601149         -0.434498    -0.431504
          133             0.760109         -0.719858     0.102448
          135            -0.441031         -0.480617     3.359933
          137            -4.906711         -4.397793     5.174486
          139            -2.406192         -4.557985     0.842573
          141            -5.596471         -3.958322    -3.733590
Wyoming   1              -3.334877         -9.911169     6.736119
          3              -8.026420          5.095861     4.868258
          5              -8.550911         10.916963    -2.649606
          7              -2.970641        -23.300971    -7.392431
          9             -20.550587         -0.070403   -12.774915
          11              6.378258         18.629317    -0.982939
          13            -12.331633        -13.673610     3.093562
          15             -7.017803        -11.899450    14.886132
          17             -6.017222         -5.454164     5.191569

In [20]:
data = df.copy()
data = data.groupby(['STNAME']).count() 
data

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
Alaska,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
Arizona,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
Arkansas,75,75,75,75,75,75,75,75,75,75,...,75,75,75,75,75,75,75,75,75,75
California,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
Colorado,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
Connecticut,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
Delaware,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
District of Columbia,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Florida,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
Georgia,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,159
Hawaii,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
Idaho,44,44,44,44,44,44,44,44,44,44,...,44,44,44,44,44,44,44,44,44,44
Illinois,102,102,102,102,102,102,102,102,102,102,...,102,102,102,102,102,102,102,102,102,102
Indiana,92,92,92,92,92,92,92,92,92,92,...,92,92,92,92,92,92,92,92,92,92
Iowa,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99
Kansas,105,105,105,105,105,105,105,105,105,105,...,105,105,105,105,105,105,105,105,105,105
Kentucky,120,120,120,120,120,120,120,120,120,120,...,120,120,120,120,120,120,120,120,120,120
Louisiana,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
Maine,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Maryland,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
Massachusetts,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Michigan,83,83,83,83,83,83,83,83,83,83,...,83,83,83,83,83,83,83,83,83,83
Minnesota,87,87,87,87,87,87,87,87,87,87,...,87,87,87,87,87,87,87,87,87,87
Mississippi,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
Missouri,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115
Montana,56,56,56,56,56,56,56,56,56,56,...,56,56,56,56,56,56,56,56,56,56
Nebraska,93,93,93,93,93,93,93,93,93,93,...,93,93,93,93,93,93,93,93,93,93
Nevada,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
New Hampshire,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
New Jersey,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
New Mexico,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
New York,62,62,62,62,62,62,62,62,62,62,...,62,62,62,62,62,62,62,62,62,62
North Carolina,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
North Dakota,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
Ohio,88,88,88,88,88,88,88,88,88,88,...,88,88,88,88,88,88,88,88,88,88
Oklahoma,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
Oregon,36,36,36,36,36,36,36,36,36,36,...,36,36,36,36,36,36,36,36,36,36
Pennsylvania,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,67,67
Rhode Island,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
South Carolina,46,46,46,46,46,46,46,46,46,46,...,46,46,46,46,46,46,46,46,46,46
South Dakota,66,66,66,66,66,66,66,66,66,66,...,66,66,66,66,66,66,66,66,66,66
Tennessee,95,95,95,95,95,95,95,95,95,95,...,95,95,95,95,95,95,95,95,95,95
Texas,254,254,254,254,254,254,254,254,254,254,...,254,254,254,254,254,254,254,254,254,254
Utah,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
Vermont,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Virginia,133,133,133,133,133,133,133,133,133,133,...,133,133,133,133,133,133,133,133,133,133
Washington,39,39,39,39,39,39,39,39,39,39,...,39,39,39,39,39,39,39,39,39,39
West Virginia,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55
Wisconsin,72,72,72,72,72,72,72,72,72,72,...,72,72,72,72,72,72,72,72,72,72
Wyoming,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23

In [202]:
d

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [203]:
copy = d.copy()
copy.head()
count = copy.groupby(['SUMLEV','STNAME']).count() 
count1 = count.sort_values(by='COUNTY',ascending=False)
count1

                             REGION  DIVISION  STATE  COUNTY  CTYNAME  \
SUMLEV STNAME
50     Texas                    254       254    254     254      254
       Georgia                  159       159    159     159      159
       Virginia                 133       133    133     133      133
       Kentucky                 120       120    120     120      120
       Missouri                 115       115    115     115      115
       Kansas                   105       105    105     105      105
       Illinois                 102       102    102     102      102
       North Carolina           100       100    100     100      100
       Iowa                      99        99     99      99       99
       Tennessee                 95        95     95      95       95
       Nebraska                  93        93     93      93       93
       Indiana                   92        92     92      92       92
       Ohio                      88        88     88      88       88
       Minnesota                 87        87     87      87       87
       Michigan                  83        83     83      83       83
       Mississippi               82        82     82      82       82
       Oklahoma                  77        77     77      77       77
       Arkansas                  75        75     75      75       75
       Wisconsin                 72        72     72      72       72
       Alabama                   67        67     67      67       67
       Pennsylvania              67        67     67      67       67
       Florida                   67        67     67      67       67
       South Dakota              66        66     66      66       66
       Louisiana                 64        64     64      64       64
       Colorado                  64        64     64      64       64
       New York                  62        62     62      62       62
       California                58        58     58      58       58
       Montana                   56        56     56      56       56
       West Virginia             55        55     55      55       55
       North Dakota              53        53     53      53       53
...                             ...       ...    ...     ...      ...
40     Indiana                    1         1      1       1        1
       Rhode Island               1         1      1       1        1
       Missouri                   1         1      1       1        1
       South Carolina             1         1      1       1        1
       South Dakota               1         1      1       1        1
       Tennessee                  1         1      1       1        1
       Texas                      1         1      1       1        1
       Utah                       1         1      1       1        1
       Vermont                    1         1      1       1        1
       Virginia                   1         1      1       1        1
       Washington                 1         1      1       1        1
       West Virginia              1         1      1       1        1
       Wisconsin                  1         1      1       1        1
       Wyoming                    1         1      1       1        1
       Alaska                     1         1      1       1        1
       Pennsylvania               1         1      1       1        1
       Oregon                     1         1      1       1        1
       Oklahoma                   1         1      1       1        1
       Ohio                       1         1      1       1        1
50     District of Columbia       1         1      1       1        1
40     North Dakota               1         1      1       1        1
       North Carolina             1         1      1       1        1
       New York                   1         1      1       1        1
       New Mexico                 1         1      1       1        1
       New Jersey                 1         1      1       1        1
       New Hampshire              1         1      1       1        1
       Nevada                     1         1      1       1        1
       Nebraska                   1         1      1       1        1
       Montana                    1         1      1       1        1
       Alabama                    1         1      1       1        1

                             CENSUS2010POP  ESTIMATESBASE2010  \
SUMLEV STNAME
50     Texas                           254                254
       Georgia                         159                159
       Virginia                        133                133
       Kentucky                        120                120
       Missouri                        115                115
       Kansas                          105                105
       Illinois                        102                102
       North Carolina                  100                100
       Iowa                             99                 99
       Tennessee                        95                 95
       Nebraska                         93                 93
       Indiana                          92                 92
       Ohio                             88                 88
       Minnesota                        87                 87
       Michigan                         83                 83
       Mississippi                      82                 82
       Oklahoma                         77                 77
       Arkansas                         75                 75
       Wisconsin                        72                 72
       Alabama                          67                 67
       Pennsylvania                     67                 67
       Florida                          67                 67
       South Dakota                     66                 66
       Louisiana                        64                 64
       Colorado                         64                 64
       New York                         62                 62
       California                       58                 58
       Montana                          56                 56
       West Virginia                    55                 55
       North Dakota                     53                 53
...                                    ...                ...
40     Indiana                           1                  1
       Rhode Island                      1                  1
       Missouri                          1                  1
       South Carolina                    1                  1
       South Dakota                      1                  1
       Tennessee                         1                  1
       Texas                             1                  1
       Utah                              1                  1
       Vermont                           1                  1
       Virginia                          1                  1
       Washington                        1                  1
       West Virginia                     1                  1
       Wisconsin                         1                  1
       Wyoming                           1                  1
       Alaska                            1                  1
       Pennsylvania                      1                  1
       Oregon                            1                  1
       Oklahoma                          1                  1
       Ohio                              1                  1
50     District of Columbia              1                  1
40     North Dakota                      1                  1
       North Carolina                    1                  1
       New York                          1                  1
       New Mexico                        1                  1
       New Jersey                        1                  1
       New Hampshire                     1                  1
       Nevada                            1                  1
       Nebraska                          1                  1
       Montana                           1                  1
       Alabama                           1                  1

                             POPESTIMATE2010  POPESTIMATE2011  \
SUMLEV STNAME
50     Texas                             254              254
       Georgia                           159              159
       Virginia                          133              133
       Kentucky                          120              120
       Missouri                          115              115
       Kansas                            105              105
       Illinois                          102              102
       North Carolina                    100              100
       Iowa                               99               99
       Tennessee                          95               95
       Nebraska                           93               93
       Indiana                            92               92
       Ohio                               88               88
       Minnesota                          87               87
       Michigan                           83               83
       Mississippi                        82               82
       Oklahoma                           77               77
       Arkansas                           75               75
       Wisconsin                          72               72
       Alabama                            67               67
       Pennsylvania                       67               67
       Florida                            67               67
       South Dakota                       66               66
       Louisiana                          64               64
       Colorado                           64               64
       New York                           62               62
       California                         58               58
       Montana                            56               56
       West Virginia                      55               55
       North Dakota                       53               53
...                                      ...              ...
40     Indiana                             1                1
       Rhode Island                        1                1
       Missouri                            1                1
       South Carolina                      1                1
       South Dakota                        1                1
       Tennessee                           1                1
       Texas                               1                1
       Utah                                1                1
       Vermont                             1                1
       Virginia                            1                1
       Washington                          1                1
       West Virginia                       1                1
       Wisconsin                           1                1
       Wyoming                             1                1
       Alaska                              1                1
       Pennsylvania                        1                1
       Oregon                              1                1
       Oklahoma                            1                1
       Ohio                                1                1
50     District of Columbia                1                1
40     North Dakota                        1                1
       North Carolina                      1                1
       New York                            1                1
       New Mexico                          1                1
       New Jersey                          1                1
       New Hampshire                       1                1
       Nevada                              1                1
       Nebraska                            1                1
       Montana                             1                1
       Alabama                             1                1

                             POPESTIMATE2012     ...       RDOMESTICMIG2011  \
SUMLEV STNAME                                    ...
50     Texas                             254     ...                    254
       Georgia                           159     ...                    159
       Virginia                          133     ...                    133
       Kentucky                          120     ...                    120
       Missouri                          115     ...                    115
       Kansas                            105     ...                    105
       Illinois                          102     ...                    102
       North Carolina                    100     ...                    100
       Iowa                               99     ...                     99
       Tennessee                          95     ...                     95
       Nebraska                           93     ...                     93
       Indiana                            92     ...                     92
       Ohio                               88     ...                     88
       Minnesota                          87     ...                     87
       Michigan                           83     ...                     83
       Mississippi                        82     ...                     82
       Oklahoma                           77     ...                     77
       Arkansas                           75     ...                     75
       Wisconsin                          72     ...                     72
       Alabama                            67     ...                     67
       Pennsylvania                       67     ...                     67
       Florida                            67     ...                     67
       South Dakota                       66     ...                     66
       Louisiana                          64     ...                     64
       Colorado                           64     ...                     64
       New York                           62     ...                     62
       California                         58     ...                     58
       Montana                            56     ...                     56
       West Virginia                      55     ...                     55
       North Dakota                       53     ...                     53
...                                      ...     ...                    ...
40     Indiana                             1     ...                      1
       Rhode Island                        1     ...                      1
       Missouri                            1     ...                      1
       South Carolina                      1     ...                      1
       South Dakota                        1     ...                      1
       Tennessee                           1     ...                      1
       Texas                               1     ...                      1
       Utah                                1     ...                      1
       Vermont                             1     ...                      1
       Virginia                            1     ...                      1
       Washington                          1     ...                      1
       West Virginia                       1     ...                      1
       Wisconsin                           1     ...                      1
       Wyoming                             1     ...                      1
       Alaska                              1     ...                      1
       Pennsylvania                        1     ...                      1
       Oregon                              1     ...                      1
       Oklahoma                            1     ...                      1
       Ohio                                1     ...                      1
50     District of Columbia                1     ...                      1
40     North Dakota                        1     ...                      1
       North Carolina                      1     ...                      1
       New York                            1     ...                      1
       New Mexico                          1     ...                      1
       New Jersey                          1     ...                      1
       New Hampshire                       1     ...                      1
       Nevada                              1     ...                      1
       Nebraska                            1     ...                      1
       Montana                             1     ...                      1
       Alabama                             1     ...                      1

                             RDOMESTICMIG2012  RDOMESTICMIG2013  \
SUMLEV STNAME
50     Texas                              254               254
       Georgia                            159               159
       Virginia                           133               133
       Kentucky                           120               120
       Missouri                           115               115
       Kansas                             105               105
       Illinois                           102               102
       North Carolina                     100               100
       Iowa                                99                99
       Tennessee                           95                95
       Nebraska                            93                93
       Indiana                             92                92
       Ohio                                88                88
       Minnesota                           87                87
       Michigan                            83                83
       Mississippi                         82                82
       Oklahoma                            77                77
       Arkansas                            75                75
       Wisconsin                           72                72
       Alabama                             67                67
       Pennsylvania                        67                67
       Florida                             67                67
       South Dakota                        66                66
       Louisiana                           64                64
       Colorado                            64                64
       New York                            62                62
       California                          58                58
       Montana                             56                56
       West Virginia                       55                55
       North Dakota                        53                53
...                                       ...               ...
40     Indiana                              1                 1
       Rhode Island                         1                 1
       Missouri                             1                 1
       South Carolina                       1                 1
       South Dakota                         1                 1
       Tennessee                            1                 1
       Texas                                1                 1
       Utah                                 1                 1
       Vermont                              1                 1
       Virginia                             1                 1
       Washington                           1                 1
       West Virginia                        1                 1
       Wisconsin                            1                 1
       Wyoming                              1                 1
       Alaska                               1                 1
       Pennsylvania                         1                 1

In [200]:
count1.index[0]

(50, 'Texas')

In [185]:
s = count1.index[0]
count1.loc[s]['COUNTY']

254

In [149]:
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [150]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [151]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [152]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [137]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [60]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [72]:
df.fillna?

In [61]:
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [62]:
s = [x for x in range(0,20)]
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6  False    10.0
           sue     advanced.html                 24  False    10.0
1469974484 cheryl     intro.html                  7  False    10.0
1469974514 cheryl     intro.html                  8  False    10.0
1469974524 sue     advanced.html                 25  False    10.0
1469974544 cheryl     intro.html                  9  False    10.0
1469974554 sue     advanced.html                 26  False    10.0
1469974574 cheryl     intro.html                 10  False    10.0
1469974604 cheryl     intro.html                 11  False    10.0
1469974624 sue     advanced.html                 27  False    10.0
1469974634 cheryl     intro.html                 12  False    10.0
1469974654 sue     advanced.html                 28  False     5.0
1469974664 cheryl     intro.html                 13  False     5.0
1469974694 cheryl     intro.html                 14  False     5.0
1469974724 cheryl     intro.html                 15  False     5.0
           sue     advanced.html                 29  False     5.0
1469974754 sue     advanced.html                 30  False     5.0
1469974824 sue     advanced.html                 31  False     5.0
1469974854 sue     advanced.html                 32  False     5.0
1469974924 sue     advanced.html                 33  False     5.0
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1   True    10.0
1469977484 bob        intro.html                  1   True    10.0
1469977514 bob        intro.html                  1   True    10.0
1469977544 bob        intro.html                  1   True    10.0
1469977574 bob        intro.html                  1   True    10.0
1469977604 bob        intro.html                  1   True    10.0
1469977634 bob        intro.html                  1   True    10.0
1469977664 bob        intro.html                  1   True    10.0
1469977694 bob        intro.html                  1   True    10.0
1469977724 bob        intro.html                  1   True    10.0

In [64]:
df = df.fillna(method='ffill')
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6  False    10.0
           sue     advanced.html                 24  False    10.0
1469974484 cheryl     intro.html                  7  False    10.0
1469974514 cheryl     intro.html                  8  False    10.0
1469974524 sue     advanced.html                 25  False    10.0
1469974544 cheryl     intro.html                  9  False    10.0
1469974554 sue     advanced.html                 26  False    10.0
1469974574 cheryl     intro.html                 10  False    10.0
1469974604 cheryl     intro.html                 11  False    10.0
1469974624 sue     advanced.html                 27  False    10.0
1469974634 cheryl     intro.html                 12  False    10.0
1469974654 sue     advanced.html                 28  False     5.0
1469974664 cheryl     intro.html                 13  False     5.0
1469974694 cheryl     intro.html                 14  False     5.0
1469974724 cheryl     intro.html                 15  False     5.0
           sue     advanced.html                 29  False     5.0
1469974754 sue     advanced.html                 30  False     5.0
1469974824 sue     advanced.html                 31  False     5.0
1469974854 sue     advanced.html                 32  False     5.0
1469974924 sue     advanced.html                 33  False     5.0
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1   True    10.0
1469977484 bob        intro.html                  1   True    10.0
1469977514 bob        intro.html                  1   True    10.0
1469977544 bob        intro.html                  1   True    10.0
1469977574 bob        intro.html                  1   True    10.0
1469977604 bob        intro.html                  1   True    10.0
1469977634 bob        intro.html                  1   True    10.0
1469977664 bob        intro.html                  1   True    10.0
1469977694 bob        intro.html                  1   True    10.0
1469977724 bob        intro.html                  1   True    10.0